.navbar {
   
    background-image: none;
    background-repeat: no-repeat;
    margin-left:6vh;
    margin-right:6vh;
}

.container{
    text-align: center;
}

div.news:hover{
    font-weight: 700;
    border:1px solid crimson;
    /* font-size: 1.2em; */
    background-color: rgb(32, 238, 238);
}